body {
    margin: 0;
}

ul  {
    margin: 0;
    list-style: none;
    padding: 0;
}

.main-menu li {
    display: inline;
    margin-right: 10px;
}

.main-menu li:last-child {
    margin-right: 0;
}

.header {
    background-color: black;
    color: white;
    padding: 20px 0px;
    font-size: 1.5rem;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

.main-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

p {
    text-align: justify;
}